.send-button{
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}
.clear-button{
    background-color: rgb(210, 210, 210);
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    margin-left: 5px
}
.chat-input{
  padding: 12px 15px;
  border-width: 1px; 
  border-radius: 10px;
  font-size: 15px;

  flex-grow: 1;
}
.chat-input-container{
  display: flex;
  margin-bottom: 60px;
}
